gradio
openai-whisper
gtts
groq
requests
torch
torchaudio
transformers
langchain
langchain-community
faiss-cpu
sentence-transformers
pypdf2
python-docx
pandas
openpyxl
beautifulsoup4
nltk
regex






git+https://github.com/openai/whisper.git

inference
